[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = https://github.com/Motoki0705/dinov3.git
	branch = main

[submodule "third_party/GVHMR"]
	path = third_party/GVHMR
	url = https://github.com/Motoki0705/GVHMR.git
	branch = main

[submodule "third_party/DINO"]
	path = third_party/DINO
	url = https://github.com/IDEA-Research/DINO.git
[submodule "third_party/nht"]
	path = third_party/nht
	url = https://github.com/Motoki0705/neural-harmonic-textures.git
	branch = main
