[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = git@github.com:Motoki0705/dinov3.git
	branch = main

[submodule "third_party/GVHMR"]
	path = third_party/GVHMR
	url = git@github.com:Motoki0705/GVHMR.git
	branch = main

[submodule "third_party/DINO"]
	path = third_party/DINO
	url = https://github.com/IDEA-Research/DINO.git
